# Tuples Sets and Dictionaries

## Tuples

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t1 = (1,2,3,4,5,56.6,45+5j,'tejas',True)

In [4]:
type(t1)

tuple

In [5]:
l = [1,2,3,4]

In [6]:
type(l)

list

In [7]:
t1

(1, 2, 3, 4, 5, 56.6, (45+5j), 'tejas', True)

In [8]:
t1[0]

1

In [9]:
t1[7]

'tejas'

In [10]:
t1[::-1]

(True, 'tejas', (45+5j), 56.6, 5, 4, 3, 2, 1)

In [11]:
t1 = t1[::-1]

In [12]:
t1

(True, 'tejas', (45+5j), 56.6, 5, 4, 3, 2, 1)

In [13]:
t1[:3]

(True, 'tejas', (45+5j))

In [14]:
t1

(True, 'tejas', (45+5j), 56.6, 5, 4, 3, 2, 1)

In [17]:
t1.count(4)

1

In [18]:
t1.count('abc')

0

In [20]:
t1.index(1)

0

In [21]:
t1.index('tejas')

1

In [23]:
t1.count(True)

2

In [24]:
t1.count(1)

2

In [25]:
t1

(True, 'tejas', (45+5j), 56.6, 5, 4, 3, 2, 1)

In [26]:
l

[1, 2, 3, 4]

In [41]:
""" Tuples follow immutability concept where it is not going to allow you to change any element at particular index"""

' Tuples follow immutability concept where it is not going to allow you to change any element at particular index'

In [27]:
t1[0] = 345

TypeError: 'tuple' object does not support item assignment

In [30]:
l[0]

1

In [31]:
l[0] = 100

In [32]:
l

[100, 2, 3, 4]

In [33]:
t1

(True, 'tejas', (45+5j), 56.6, 5, 4, 3, 2, 1)

In [34]:
for i in t1:
    print(i)

True
tejas
(45+5j)
56.6
5
4
3
2
1

In [35]:
for i in t1:
    print(i,type(i))

True <class 'bool'>
tejas <class 'str'>
(45+5j) <class 'complex'>
56.6 <class 'float'>
5 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [36]:
t2 = (1,2,3,4)

In [38]:
t2*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [39]:
max(t2)

4

In [40]:
min(t2)

1

In [42]:
t1 = (1,2,3,4)
t2 = (4,5,6,7)

In [43]:
t3 = (t1,t2)

In [44]:
t3

((1, 2, 3, 4), (4, 5, 6, 7))

In [45]:
t4 = ((1,2,3,4),[1,2,3,4,5])

In [46]:
t4

((1, 2, 3, 4), [1, 2, 3, 4, 5])

In [47]:
del t4

In [48]:
t4

NameError: name 't4' is not defined

In [49]:
t1

(1, 2, 3, 4)

In [50]:
len(t1)

4

In [51]:
t1

(1, 2, 3, 4)

In [53]:
2 in t1

True

In [54]:
'tejas' in t1

False

## Sets

In [59]:
s = {}

In [60]:
type(s)

dict

In [63]:
s1 = {1,2,3,4,5}

In [64]:
type(s1)

set

In [65]:
s2 = {1,1,1,12,3,3,3,3,4,4,4,4,5,55,5,5,5,5}

In [66]:
s2

{1, 3, 4, 5, 12, 55}

In [70]:
l = list(s2)

In [69]:
[tuple(s2)

(1, 3, 4, 5, 55, 12)

In [71]:
set(l)

{1, 3, 4, 5, 12, 55}

In [72]:
s4 = {1,2,3,4,[1,2,3,4]}

TypeError: unhashable type: 'list'

In [73]:
s5 = {1,2,3,(1,2,3)}

In [74]:
s5

{(1, 2, 3), 1, 2, 3}

In [77]:
s6 = {'tejas',"TEJAS",1,2,3,3,4,4,5}

In [78]:
s6

{1, 2, 3, 4, 5, 'TEJAS', 'tejas'}

In [79]:
s7 = {'tejas',"tejas",1,2,3,3,4,4,5}

In [80]:
s7

{1, 2, 3, 4, 5, 'tejas'}

In [83]:
s7[0]

TypeError: 'set' object is not subscriptable

In [84]:
s[::-1]

TypeError: unhashable type: 'slice'

In [82]:
for i in s7:
    print(i)

1
2
3
4
5
tejas

In [90]:
s7.add(34)

In [94]:
s7

{1, 2, 3, 34, 4, 5, 'tejas'}

In [92]:
s7.add(2)

In [93]:
s7

{1, 2, 3, 34, 4, 5, 'tejas'}

In [95]:
len(s7)

7

In [97]:
s7.pop()

1

In [98]:
s7

{2, 3, 34, 4, 5, 'tejas'}

In [99]:
s7.pop()

2

In [100]:
s7.pop()

3

In [101]:
s7

{34, 4, 5, 'tejas'}

In [102]:
s7

{34, 4, 5, 'tejas'}

In [104]:
s7.clear()

In [105]:
s7

set()

In [110]:
s8 = {1,2,3,4}
s9  = {1,2,3,5}

In [111]:
s8.difference(s9)

{4}

In [112]:
s9.difference(s8)

{5}

In [113]:
s8.union(s9)

{1, 2, 3, 4, 5}

## Dictionary

In [114]:
d = {}

In [115]:
type(d)

dict

In [116]:
d1 = {'name':'Tejas','email_id':'tejas05in@gmail.com','number':2323834792}

In [117]:
type(d1)

dict

In [118]:
d1

{'name': 'Tejas', 'email_id': 'tejas05in@gmail.com', 'number': 2323834792}

In [119]:
d2 = {'name':'tejas','name':'tejasjnaidu'}

In [120]:
d2

{'name': 'tejasjnaidu'}

In [121]:
d3 = {2232:'abc'}

In [122]:
d3

{2232: 'abc'}

In [123]:
d4 = {54.5: 'abc'}

In [124]:
d5 ={True:'abc'}

#### cannot take special characters as key

In [125]:
d6 = {#:'bc'}

SyntaxError: unexpected EOF while parsing (2472370273.py, line 1)

In [126]:
d7 = {@:'abs'}

SyntaxError: invalid syntax (585014804.py, line 1)

In [127]:
d8 = {[1,2,3]:'abc'}

TypeError: unhashable type: 'list'

In [128]:
d9 = {(1,2,3):'abc'}

In [129]:
d9

{(1, 2, 3): 'abc'}

In [130]:
d10 = {{1,2,3}:'abc'}

TypeError: unhashable type: 'set'

In [131]:
d11 = {{'key':235}:'string'}

TypeError: unhashable type: 'dict'

In [132]:
d12 = {'course_name':['data science masters', 'web dev', 'java with dsa and system design']}

In [133]:
d12

{'course_name': ['data science masters',
  'web dev',
  'java with dsa and system design']}

In [134]:
d13 = {'key':(1,2,3,4)}

In [136]:
d14 ={'key':{1,2,34}}

In [137]:
d15 = {'key':{'name':'tejasjnaidu','class':'DSM'}}

In [138]:
d16 = {'batch_name':['data science masters','web dev', 'JDS'],'start_date':(28,14,21),'mentor_name':{'krish naik','sudhanshu','hitesh','anurag','naveen'}}

In [139]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'}}

In [140]:
d16['timing'] = (8,8,8)

In [141]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8)}

In [142]:
d16['batch_name']

['data science masters', 'web dev', 'JDS']

In [144]:
type(d16['mentor_name'])

set

In [145]:
d16['key']

KeyError: 'key'

In [146]:
d16["name"] = 'tejasjnaidu'

In [147]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'tejasjnaidu'}

In [151]:
d16['name'].upper()

'TEJASJNAIDU'

In [155]:
d15['key']['class']

'DSM'

In [156]:
type(d15['key'])

dict

In [158]:
d15['key1'] = 'abc'

In [159]:
d15

{'key': {'name': 'tejasjnaidu', 'class': 'DSM'}, 'key1': 'abc'}

In [160]:
del d15['key1']

In [161]:
d15

{'key': {'name': 'tejasjnaidu', 'class': 'DSM'}}

In [162]:
d15.clear()

In [163]:
d15

{}

In [164]:
len(d16)

5

In [165]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'tejasjnaidu'}

In [167]:
d16.keys()

dict_keys(['batch_name', 'start_date', 'mentor_name', 'timing', 'name'])

In [168]:
d16.values()

dict_values([['data science masters', 'web dev', 'JDS'], (28, 14, 21), {'sudhanshu', 'anurag', 'krish naik', 'hitesh', 'naveen'}, (8, 8, 8), 'tejasjnaidu'])

In [169]:
d16.items()

dict_items([('batch_name', ['data science masters', 'web dev', 'JDS']), ('start_date', (28, 14, 21)), ('mentor_name', {'sudhanshu', 'anurag', 'krish naik', 'hitesh', 'naveen'}), ('timing', (8, 8, 8)), ('name', 'tejasjnaidu')])

In [170]:
list(d16.values())

[['data science masters', 'web dev', 'JDS'],
 (28, 14, 21),
 {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 (8, 8, 8),
 'tejasjnaidu']

In [171]:
list(d16.keys())

['batch_name', 'start_date', 'mentor_name', 'timing', 'name']

In [172]:
list(d16.items())

[('batch_name', ['data science masters', 'web dev', 'JDS']),
 ('start_date', (28, 14, 21)),
 ('mentor_name', {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'}),
 ('timing', (8, 8, 8)),
 ('name', 'tejasjnaidu')]

In [173]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'tejasjnaidu'}

In [174]:
d17 = d16.copy()

In [175]:
d17

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'tejasjnaidu'}

In [176]:
d18 = d16

In [177]:
del d16['name']

In [178]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8)}

In [179]:
d17

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'tejasjnaidu'}

In [180]:
d18

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8)}

In [181]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8)}

In [182]:
d16.pop()

TypeError: pop expected at least 1 argument, got 0

In [183]:
d16.pop('timing')

(8, 8, 8)

In [184]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'}}

In [185]:
d16.pop('mentor_name')

{'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'}

In [186]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21)}

In [188]:
d.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [189]:
d19 = {"key1":'value','key2':'value2'}
d20 = {'key3':'value3','key4':'value4'}

In [190]:
d19,d20

({'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [191]:
d19.update(d20)

In [192]:
d19

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [193]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [194]:
d20.update(d19)

In [195]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [199]:
d20.get('tejas')

In [198]:
d20.get('key3')

'value3'

In [200]:
d20['tejas']

KeyError: 'tejas'

# Dictionary Comprehension

In [201]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [202]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [203]:
{i:i+10 for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [216]:
import math
d21 = {i:math.log10(i) for i in range(1,11)}
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [209]:
'batch_name' in d16

True

In [217]:
for i in d21.keys():
    if i%2 == 0:
        #print(i)
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0

In [218]:
a = (100,)

In [220]:
a*2

(100, 100)

In [221]:
type(a)

tuple

In [222]:
dict1 = {"key1":1, "key2":2}

dict2 = {"key2":2, "key1":1}

print(dict1 == dict2)

True

In [223]:
s1 = {1,2,3}
s2 = {4,5,6}

In [224]:
s3 = s1.copy()

In [225]:
s3

{1, 2, 3}

In [226]:
s3 = set(s1)

In [227]:
s3.update(s1)

In [228]:
s3

{1, 2, 3}

In [229]:
s3 = s2

In [230]:
s3

{4, 5, 6}

In [231]:
s3 = set(s2)

In [233]:
s2.update({1,2,3})

In [236]:
s3

{4, 5, 6}

In [235]:
s2

{1, 2, 3, 4, 5, 6}

In [237]:
set1 = {"Yellow", "Orange", "Black"}

set2 = {"Orange", "Blue", "Pink"}

set3 = set2.difference(set1)

print(set3)

{'Pink', 'Blue'}

In [238]:
atuple = ("Orange")

print(type(atuple))

<class 'str'>

In [239]:
d4

{54.5: 'abc'}

In [240]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [242]:
a = d20.get('tejas')

In [243]:
print(a)

None