# **`Functions`**

In [1]:
print("this is my program")

this is my program

In [2]:
l = [1,2,3,4,5]

In [3]:
len(l)

5

In [5]:
def test():
    pass

In [7]:
def test1():
    print('this is my very very first function')

In [8]:
test1()

this is my very very first function

In [11]:
test1()

this is my very very first function

In [12]:
test1() + 'tejas'

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [13]:
def test2():
    return "this is my funciton with return"

In [14]:
test2()

'this is my funciton with return'

In [16]:
test2() +' tej'

'this is my funciton with return tej'

In [19]:
def test3():
    return 1,4,'pwskills',34.56

In [20]:
test3()

(1, 4, 'pwskills', 34.56)

In [21]:
a = 1,2,3,4,5

In [22]:
a

(1, 2, 3, 4, 5)

In [23]:
a,b,c,d = 1,2,34.56,True

In [29]:
test3()[1]

4

In [32]:
test3()[2]

'pwskills'

In [33]:
a,b,c,d = test3()

In [36]:
c

'pwskills'

In [37]:
def test4():
    a = 3*4+5
    return a

In [39]:
type(test4())

int

In [40]:
def test5(a,b):
    c = a + b
    return c

In [43]:
test5(1,3)

4

In [46]:
test5('tejas','naidu')

'tejasnaidu'

In [47]:
test5([1,2,3,4],[4,5,6,7])

[1, 2, 3, 4, 4, 5, 6, 7]

In [48]:
test5(b = 'tejas',a='naidu')

'naidutejas'

In [49]:
l = [1,2,3,4,5,'tejas','pwskills',[5,6,7,8,9]]

In [62]:
# create a function to filter int from a list
def test6(l):
    n = []
    for i in l:
        if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [63]:
test6(l)

[1, 2, 3, 4, 5]

In [64]:
test6(l)

[1, 2, 3, 4, 5]

In [72]:
def test6(l):
    n = []
    for i in l:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [73]:
test6(l)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [74]:
l

[1, 2, 3, 4, 5, 'tejas', 'pwskills', [5, 6, 7, 8, 9]]

# **`Functions part 2`**

In [78]:
def test(a,b,c,d,e):
    pass

In [80]:
test(1,2,3,4,5,6,7)

TypeError: test() takes 5 positional arguments but 7 were given

In [81]:
def test1(*args):
    return args

In [82]:
test1(2)

(2,)

In [83]:
test1(1,2,3,4,5,5,6)

(1, 2, 3, 4, 5, 5, 6)

In [84]:
test1(1,2,3,4,5,5,6,'tejas',(1,2,3,45))

(1, 2, 3, 4, 5, 5, 6, 'tejas', (1, 2, 3, 45))

In [85]:
def test2(*tej):
    return tej

In [86]:
test2(2,3,4,5,6,7)

(2, 3, 4, 5, 6, 7)

In [87]:
def test3(*args,a):
    return args ,a

In [89]:
test3(1,2,3,4,5,a='tejas')

((1, 2, 3, 4, 5), 'tejas')

In [91]:
def test4(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [94]:
test4(1,2,3,4,[4,5,6,7,8],(1,2,3),'tejas',[2,3,4,5],['tejas','j'])

[[4, 5, 6, 7, 8], [2, 3, 4, 5], ['tejas', 'j']]

In [95]:
def test5(**kwargs):
    return kwargs

In [97]:
test5()

{}

In [98]:
type(test5())

dict

In [100]:
test5(a=5,b=6,c=7,d=[1,2,3,4],e=('tejas','naidu'))

{'a': 5, 'b': 6, 'c': 7, 'd': [1, 2, 3, 4], 'e': ('tejas', 'naidu')}

In [101]:
test5(a=5,b=6,c=7,d=[1,2,3,4],e=('tejas','naidu'))['e']

('tejas', 'naidu')

In [104]:
def test6(**kwargs):
    for i in kwargs:
        if type(kwargs[i]) == list:
            return i,kwargs[i]

In [105]:
test6(a=5,b=6,c=7,d=[1,2,3,4],e=('tejas','naidu'))

('d', [1, 2, 3, 4])

In [106]:
def test7(*args,**kwargs):
    return args , kwargs

In [107]:
test7(1,2,3,4,5,a=34,b=89)

((1, 2, 3, 4, 5), {'a': 34, 'b': 89})

# **`Generator Function`**

In [108]:
range(1,10)

range(1, 10)

In [109]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [110]:
l = [2,3,4,5,6,6,6,77,7,7,7,7,'tejas','pwskills']

In [111]:
def test1(a):
    n = []
    for i in a:
        if type(i) == int:
            n.append(i)
    return n

In [112]:
test1(l)

[2, 3, 4, 5, 6, 6, 6, 77, 7, 7, 7, 7]

Fibonacci:
0,1,1,2,3,5,8

In [116]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b, b+a

In [117]:
test_fib(10)

In [118]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34