`Q1. Write a Python program to create a MySQL database and a table.`

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
host = "localhost",
    username = "root",
    password = ""
)
print(mydb)
#creating a cursor
mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002A401A969D0>

In [2]:

#creating a database MYDB
mycursor.execute("CREATE DATABASE MYDB")

In [3]:
#creating a table BOOKS
mycursor.execute("""CREATE TABLE MYDB.books(
                id INTEGER AUTO_INCREMENT PRIMARY KEY ,
                 name TEXT,
                 rating INTEGER
                )""")
mycursor.close()

True

`Q2. Write a Python program to insert data into a MySQL table.`
&
`Q5. Write a Python program to handle MySQL errors using exception handling.`

In [4]:
import mysql.connector
def insert_values_into_table(name,rating):
    try:
        mydb = mysql.connector.connect(
                host = "localhost",
                username = "root",
                password = ""
                )
        mycursor = mydb.cursor()
        sql_query = """
        INSERT INTO MYDB.books (name,rating) 
        VALUES (%s,%s)
        """
        record = (name,rating)
        mycursor.execute(sql_query,record)
        mydb.commit()
        print("Record inserted successfully into books table")
    except mysql.connector.Error as error:
        print("Failed to insert successfully into books table {}".format(error))
    finally:
        if mydb.is_connected():
            mycursor.close()
            mydb.close()
            print("MySQL connection is closed")

In [5]:
insert_values_into_table("GREAT GATSBY",8)

Record inserted successfully into books table
MySQL connection is closed

In [6]:
insert_values_into_table("ALICE IN WONDERLAND",9)

Record inserted successfully into books table
MySQL connection is closed

`Q3. Write a Python program to create an index on a MySQL table.`

In [7]:
import mysql.connector
def create_secondary_index(column):
    try:
        mydb = mysql.connector.connect(
                host = "localhost",
                username = "root",
                password = ""
                )
        mycursor = mydb.cursor()
        sql_query = f"""CREATE INDEX index_{column} ON MYDB.books ({column})"""

        mycursor.execute(sql_query)
        mydb.commit()
        print("Index created successfully into books table")
    except mysql.connector.Error as error:
        print("Failed to insert successfully into books table {}".format(error))
    finally:
        if mydb.is_connected():
            mycursor.close()
            mydb.close()
            print("MySQL connection is closed")

In [8]:
create_secondary_index("name")

Index created successfully into books table
MySQL connection is closed

`Q4. Write a Python program to join two tables in MySQL.`

In [17]:
# creating alternate table to demonstrate merge
import mysql.connector
def create_table(name):
    try:
        mydb = mysql.connector.connect(
                host = "localhost",
                username = "root",
                password = ""
                )
        mycursor = mydb.cursor()
        sql_query = f"""CREATE TABLE MYDB.{name}(
                id INTEGER AUTO_INCREMENT PRIMARY KEY ,
                 author TEXT,
                 year INTEGER
                )"""

        mycursor.execute(sql_query)
        mydb.commit()
        print(f"{name} table created successfully")
    except mysql.connector.Error as error:
        print("Failed to insert successfully into books table {}".format(error))
    finally:
        if mydb.is_connected():
            mycursor.close()
            mydb.close()
            print("MySQL connection is closed")

In [18]:
create_table("books2")

books2 table created successfully
MySQL connection is closed

In [19]:
#adding values to books2
import mysql.connector
def insert_values(table,author,year):
    try:
        mydb = mysql.connector.connect(
                host = "localhost",
                username = "root",
                password = ""
                )
        mycursor = mydb.cursor()
        sql_query = f"""
        INSERT INTO MYDB.{table} (author,year)
        VALUES (%s,%s)
        """
        record = (author,year)
        mycursor.execute(sql_query,record)
        mydb.commit()
        print("Record inserted successfully into books table")
    except mysql.connector.Error as error:
        print("Failed to insert successfully into books table {}".format(error))
    finally:
        if mydb.is_connected():
            mycursor.close()
            mydb.close()
            print("MySQL connection is closed")

In [20]:
insert_values("books2","F. Scott Fitzgerald",1925)

Record inserted successfully into books table
MySQL connection is closed

In [21]:
insert_values("books2","Lewis Carroll",1865)

Record inserted successfully into books table
MySQL connection is closed

In [45]:
## performing inner join
import mysql.connector
def inner_join(table1,table2,column):
    try:
        mydb = mysql.connector.connect(
                host = "localhost",
                username = "root",
                password = ""
                )
        mycursor = mydb.cursor()
        sql_query = f"""SELECT mydb.{table1}.name , mydb.{table2}.author
        FROM mydb.{table1}
        INNER JOIN mydb.{table2}
        ON mydb.{table1}.{column} = mydb.{table2}.{column}
        """
        mycursor.execute(sql_query)
        for i in mycursor:
            print(i)
        mydb.commit()
        print("Record inserted successfully into books table")
    except mysql.connector.Error as error:
        print("Failed to insert successfully into books table {}".format(error))
    finally:
        if mydb.is_connected():
            mycursor.close()
            mydb.close()
            print("MySQL connection is closed")

In [46]:
inner_join("books","books2","id")

('GREAT GATSBY', 'F. Scott Fitzgerald')
('ALICE IN WONDERLAND', 'Lewis Carroll')
Record inserted successfully into books table
MySQL connection is closed

`Q6. Write a Python program to connect to a MongoDB database and insert data.`

In [1]:
import pymongo

In [2]:
pymongo.version

'3.12.0'

In [3]:
client = pymongo.MongoClient("mongodb+srv://tejas05in:sajetj@cluster0.cnbjrys.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
db

Database(MongoClient(host=['ac-h4cbgqm-shard-00-00.cnbjrys.mongodb.net:27017', 'ac-h4cbgqm-shard-00-01.cnbjrys.mongodb.net:27017', 'ac-h4cbgqm-shard-00-02.cnbjrys.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-py9gt5-shard-0', ssl=True), 'test')

In [7]:
from pymongo import MongoClient
def get_database():

   # Provide the mongodb atlas url to connect python to mongodb using pymongo
   CONNECTION_STRING = "mongodb+srv://tejas05in:sajetj@cluster0.cnbjrys.mongodb.net/?retryWrites=true&w=majority"

   # Create a connection using MongoClient. You can import MongoClient or use pymongo.MongoClient
   client = MongoClient(CONNECTION_STRING)

   # Create the database for our example (we will use the same database throughout the tutorial
   return client['demoDB']

# This is added so that many files can reuse the function get_database()
if __name__ == "__main__":

   # Get the database
   dbname = get_database()

In [6]:
## view the collections in mongodb
collection_name = dbname["mongo_demo"]
items = collection_name.find()
for item in items:
    print(item)

{'_id': ObjectId('63ee49a3aa42ddd8d576c402'), 'Serial No': '9997', 'GRE Score': '350', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63ee49a3aa42ddd8d576c403'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63ee49a3aa42ddd8d576c404'), 'Serial No': '9995', 'GRE Score': '350', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63ee49a3aa42ddd8d576c405'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63ee49a3aa42ddd8d576c406'), 'Serial No': '9993', 'GRE Score': '350', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [81]:
## creating a new colletion in the mongodb
collection_name = dbname["pymongo_demo"]

In [82]:
#generating some data to be writtent to mongodb
item1 = {
    "id": 102,
    "name":"krish",
    "course":"DSA"
}
item2= {
    "id": 103,
    "name":"Sudhanshu",
    "course":"JAVA"
}

In [83]:
collection_name.insert_many([item1,item2])

In [85]:
## reading the results for the collections in mongodb
collection_name = dbname["pymongo_demo"]
items = collection_name.find()
for item in items:
    print(item)

{'_id': ObjectId('6431b4c26f4556bc423450f7'), 'id': 102, 'name': 'krish', 'course': 'DSA'}
{'_id': ObjectId('6431b4c26f4556bc423450f8'), 'id': 103, 'name': 'Sudhanshu', 'course': 'JAVA'}

`Q7. Write a Python program to update data in a MongoDB database.`

In [86]:
old_val = {"name":"krish"}
new_val = {"$set":{"name":"sunny"}}
collection_name.update_one(old_val,new_val)

In [87]:
## reading the results for the collections in mongodb
collection_name = dbname["pymongo_demo"]
items = collection_name.find()
for item in items:
    print(item)

{'_id': ObjectId('6431b4c26f4556bc423450f7'), 'id': 102, 'name': 'sunny', 'course': 'DSA'}
{'_id': ObjectId('6431b4c26f4556bc423450f8'), 'id': 103, 'name': 'Sudhanshu', 'course': 'JAVA'}

`Q8. Write a Python program to handle MongoDB errors using exception handling.`

In [88]:
def mongo_update(old,new,category):
    try:
        old_val = {category:old}
        new_val = {"$set":{category:new}}
        collection_name.update_one(old_val,new_val)
    except Exception as e:
        print(e)

In [121]:
def retrive_data(name):
    try:
        collection_name = dbname[name]
        items = collection_name.find()
        for item in items:
            print(item)
    except Exception as e:
        print(e)

In [90]:
mongo_update(102,100,"id")

In [122]:
retrive_data("pymongo_demo")

{'_id': ObjectId('6431b4c26f4556bc423450f7'), 'id': 100, 'name': 'sunny', 'course': 'DSA'}
{'_id': ObjectId('6431b4c26f4556bc423450f8'), 'id': 103, 'name': 'Sudhanshu', 'course': 'JAVA'}

`Q9. Write a Python program to query a MongoDB database using aggregation.`

In [92]:
retrive_data("mongo_demo")

{'_id': ObjectId('63ee49a3aa42ddd8d576c402'), 'Serial No': '9997', 'GRE Score': '350', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63ee49a3aa42ddd8d576c403'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63ee49a3aa42ddd8d576c404'), 'Serial No': '9995', 'GRE Score': '350', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63ee49a3aa42ddd8d576c405'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63ee49a3aa42ddd8d576c406'), 'Serial No': '9993', 'GRE Score': '350', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [118]:
def retrive_data_aggregate(name,collection):
    try:
        collection_name = dbname[collection]
        items = collection_name.aggregate([{"$group":{'_id':f'${name}',"total":{"$sum":1}}}])
        for item in items:
            print(item)
    except Exception as e:
        print(e)

In [119]:
retrive_data_aggregate('TOEFL Score',"mongo_demo")

{'_id': '118', 'total': 4}
{'_id': '119', 'total': 1}

`Q10. Write a Python program to perform a text search on a MongoDB database.`

In [136]:
def search_data(value,key,name):
    try:
        collection_name = dbname[name]
        items = collection_name.find({} ,{ key: value })
        for item in items:
            print(item)
    except Exception as e:
        print(e)

In [137]:
search_data('sunny',"name","pymongo_demo")

{'_id': ObjectId('6431b4c26f4556bc423450f7'), 'name': 'sunny'}
{'_id': ObjectId('6431b4c26f4556bc423450f8'), 'name': 'sunny'}

In [139]:
#for text searching within the collection
def search_text(text,name):
    try:
        collection_name = dbname[name]
        items = collection_name.find({ "$text": { "$search": text } })
        for item in items:
            print(item)
    except Exception as e:
        print(e)