`Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list`

In [5]:
a = [2,3,4,5,6,7]
a.append("mango")
a.extend(["banana","grapes","orange"])
a[4] = "apple"
a.pop()
a

[2, 3, 4, 5, 'apple', 7, 'mango', 'banana', 'grapes']

`Q2.
L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4`

In [6]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

`Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.`

In [7]:
L = [4,5,6,8,3]
L[::-1]

[3, 8, 6, 5, 4]

`Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]`

In [8]:
L=[2,4,7,3,6,8]
[x**2 for x in L]

[4, 16, 49, 9, 36, 64]

`Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.`

In [31]:
def int_sum(a):
    '''takes a tuple a containing integers and returns its sum
    '''
    try:
        if type(a) == tuple:
            return sum(a)
        else:
            raise TypeError("please provide a tuple with integers")
    except (NameError,TypeError) as e:
        print(e)
int_sum((1,2,3))

6

`Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.`

In [33]:
a = {"apple","banana","orange","mango"}
b = {"grapes","orange","pineapple","strawberry"}
print(a.union(b))

{'grapes', 'orange', 'apple', 'mango', 'pineapple', 'strawberry', 'banana'}

`Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.`

In [38]:
a = {"this","is","a","random","set"}
a.add("new")
print(a)

{'random', 'this', 'is', 'set', 'a', 'new'}

`Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.`

In [39]:
animals = {"dog","cat","fish","geese"}
animals.remove("dog")
print(animals)

{'geese', 'cat', 'fish'}

`Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.`

In [42]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
print(list(zip(favorite_books,favorite_movies)))

[('To Kill a Mockingbird', 'The Shawshank Redemption'), ('1984', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

`Q10. Write a Python program to find the difference between consecutive numbers in a list.`

In [21]:
def difference(l):
    '''takes a list l and finds the difference between its consequetive numbers
    '''
    try:
        if type(l) == list:
            result = []
            for i in range(1,len(l)):
                diff = l[i] - l[i-1]
                result.append(diff)
            return result
        else:
            raise TypeError("Please enter a valid list")
    except (TypeError) as e:
        print(e)
l = [2,3,4,5,6,7,8]
difference(l)

[1, 1, 1, 1, 1, 1]