#                                          SET

Set is collection of all kind of immutable data, which items are unique, unordered, unchangeable*, and unindexed and does not allows duplicate members to store. Set are used to store multiple values in single variable. Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics of set:

- unique (No Duplicates)
- unordered :  cannot be sure in which order the items will appear
- unchangeable items (Can't contain mutable data types)
- unindexed
- mutable

- The values True and 1 are considered the same value in sets, and are treated as duplicates

## HOW TO CREATE A SET?

In [1]:
# empty
s = {}
print(s,type(s))

s=set(())     #set() Constructor
print(s,type(s))


# 1D and 2D
s1 = {1,2,3}
print(s1)

#2d & nested set are not possible because set items are immutable but set itself a mutable.
#s2 = {1,2,3,{4,5}}
#print(s2)


# hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)

# using type conversion
s4 = set([1,2,3])
print(s4)

# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)

# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

{} <class 'dict'>
set() <class 'set'>
{1, 2, 3}
{1, 'hello', (1, 2, 3), 4.5}
{1, 2, 3}
{1, 2, 3}

TypeError: unhashable type: 'list'

In [5]:
#Set are unordered, items of set can appear in any order.
#Hashing algorithm decides the order of set.
s = {1,'hello',4.5,(1,2,3),"Pratik"}
print(s)

#s1 and s2 have same item but in different order. But they are equal bcs sets are unordered.
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

{1, 4.5, (1, 2, 3), 'hello', 'Pratik'}
True

## Accesing & EDITING ITEMS

In [21]:
#Set are unordered and unindexed, so set is not supporting accessing and editing of items, by referring indexx number.
#Once a set is created, you cannot change its items, but you can add new items or remove a existing item.

s1 = {1,2,3,4}
s1[0]
s1[0:3]
s1[0] = 100

TypeError: 'set' object is not subscriptable

In [8]:
#But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

apple
cherry
banana

## ADDING  ITEMS
methods: add(), update()

In [11]:
S = {1,2,3,4}

# add : Add only one item. 
S.add(5)
print(S)

#----------------------------------

# update : Add multiple items.
S.update([5,6,7])
print(S)

#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

#---------------------------------------
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{'pineapple', 'mango', 'banana', 'apple', 'cherry', 'papaya'}
{'apple', 'cherry', 'kiwi', 'banana', 'orange'}

## DELETING ITEMS

In [12]:
# del : del the complete set.
s = {1,2,3,4,5}
# print(s)
# del s[0]
# print(s)

In [13]:
# discard
#To remove an item in a seT with specific value.
#If the item to remove does not exist, discard() will NOT raise an error.
s = {1,2,3,4,5}
s.discard(5)
print(s)
s.discard(50)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [14]:
# remove
#To remove an item in a seT with specific value.
#If the item to remove does not exist, remove() will  raise an error.
s = {1,2,3,4,5}
s.remove(5)
print(s)
s.remove(50)
print(s)


#difference between discard()(no error)  & remove() (error)

{1, 2, 3, 4}

KeyError: 50

In [16]:
# pop
#Sets are unordered, so when using the pop() method, you do not know which item that gets removed.
s = {1,2,3,4,5}
s.pop()

1

In [17]:
# clear : remove all the element, but maintain the structure of set.
s = {1,2,3,4,5}
s.clear()
print(s)

set()

## SET OPERATION

In [20]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print("s1 =",s1)
print("s2 =",s2)

# Union(|)
print("Union (s1 | s2) -->",s1|s2)

# Intersection(&)
print("Intersection (s1 & s2) -->",s1&s2)

# Difference(-)
print("Difference (s1 - s2) -->",s1-s2)
print("Difference (s2 - s1) -->",s2-s1)


# Symmetric Difference(^)
print("Symmetric Difference (s1 ^ s2) -->",s1^s2)

# Membership Test
1 not in s1

# Iteration
for i in s1:
    print(i)
    
i=0
while(i<len(s1)):
    print(i,end=" ")
    i+=1

s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
Union (s1 | s2) --> {1, 2, 3, 4, 5, 6, 7, 8}
Intersection (s1 & s2) --> {4, 5}
Difference (s1 - s2) --> {1, 2, 3}
Difference (s2 - s1) --> {8, 6, 7}
Symmetric Difference (s1 ^ s2) --> {1, 2, 3, 6, 7, 8}
1
2
3
4
5
0 1 2 3 4

## SET FUNCTION

In [23]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))
print(sorted(s,reverse=True))

6
22
1
7
[1, 2, 3, 4, 5, 7]
[7, 5, 4, 3, 2, 1]

#### UNION / UPDATE

In [28]:
# union/update
#Note: Both union() and update() will exclude any duplicate items.
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.union(s2))
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [26]:
#update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s2.update(s1)
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

###  intersection / intersection_update

In [29]:
#INTERSECTION
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection(s2)

{4, 5}

In [30]:
#intersection_update
#Keep ONLY the Duplicates

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

###  difference / difference_update

In [32]:
#difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1)
print(s2)
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3}
{8, 6, 7}

In [38]:
#difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1)
print(s2)
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5, 6, 7, 8}

###  symmetric_difference/symmetric_difference_update

In [39]:
# symmetric_difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.symmetric_difference(s2))
print(s2.symmetric_difference(s1))

print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [40]:
# symmetric_difference_update
#Keep All, But NOT the Duplicates

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1)
print(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

###  isdisjoint / issubset / issuperset

In [48]:
# isdisjoint : Returns boolean value whether two sets have a intersection or not
s1 = {1,2,3,4}
s2 = {7,8,5,6}

# s1 = {1,2,3,4,7}
# s2 = {7,8,5,6}

print(s1.isdisjoint(s2))
print(s2.isdisjoint(s1))

True
True

In [44]:
#issubset():Returns boolean value whether another set contains this set or not
s1 = {1,2,3,4,5}
s2 = {3,4,5}

print(s1.issubset(s2))
print(s2.issubset(s1))

False

In [45]:
#issuperset() : 	Returns  boolean value, whether this set contains another set or not
s1 = {1,2,3,4,5}
s2 = {3,4,5}

print(s1.issuperset(s2))
print(s2.issuperset(s1))

True
False

In [49]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1,id(s1))
print(s2,id(s2))

{1, 2, 3} 2212118563744
{1, 2, 3} 2212118563520

## GENERATORS / COMPREHENSION

In [53]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

## FROZENSET
Frozen set is just an immutable version of a Python set object

In [54]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [55]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [56]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})