# TUPLES IN PYTHON

- Tuples is collection of all kind of data which is ordered,unchangable,index and allows duplicate members to store.
- Tuples are used to store multiple values in single variable.
- Tuples is static array,means Modification of the data inside the tuples is not possible because tuples are immutable.

#### How to create a tuple in python?
- a=()

- tuple constructor 
  - a=tuple(())

In [2]:
#Ways to create a tuple.

# by using () method
t1=("Pratik",23,89.80,True)
print(t1,type(t1))

#single tuple
t2=("hello",)
print(t2,type(t2))

# using type conversion #for single items.
t3 = tuple('hello')
print(t3,type(t3))

#using tuple constructor. #use this methods, And Single and Multiple items.
t4=tuple(("hello")) 
print(t4,type(t4))


# t5=tuple(1,"hello",True)
# print(t5,type(t5))

t6=tuple((1,"hello",True))
print(t6,type(t6))

('Pratik', 23, 89.8, True) <class 'tuple'>
('hello',) <class 'tuple'>
('h', 'e', 'l', 'l', 'o') <class 'tuple'>
('h', 'e', 'l', 'l', 'o') <class 'tuple'>
(1, 'hello', True) <class 'tuple'>

In [2]:
#empty
t1=()
print(t1,type(t1))

print("\n")

#creating tuple with a single items.
t2=('hello')
print(t2,type(t2))

print("\n")

t3=("hello",)
print(t3,type(t3))

print("\n")

#homogenous tuple
t4=(1,2,3,4,5)
print(t4,type(t4))

print("\n")

#Heterogenous tuple
t5=("Pratik",21,[1,5.0])
print(t5,type(t5))

print("\n")

#nested tuple

t6=(1,"Pratik",("Pratik",21,[1,5.0]))
print(t6,type(t6))

() <class 'tuple'>


hello <class 'str'>


('hello',) <class 'tuple'>


(1, 2, 3, 4, 5) <class 'tuple'>


('Pratik', 21, [1, 5.0]) <class 'tuple'>


(1, 'Pratik', ('Pratik', 21, [1, 5.0])) <class 'tuple'>

#### Accessing Items
Since tuple items are index , so we can access tuple items by referring to the index number, inside square brackets

- Indexing
- Slicing

Refer this : 
https://www.w3schools.com/python/python_tuples_access.asp

### UPDATE TUPLES

#### Editing items

In [10]:
t3=(1,2,3,4)

In [11]:
print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

#### Workaround:  Change tuple value

In [28]:
x = ("apple", "banana", "cherry")
print(x)
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'banana', 'cherry')
('apple', 'kiwi', 'cherry')

#### Adding items

In [12]:
print(t3)
# not possible

(1, 2, 3, 4)

#### Workaround : Add items

In [32]:
#1.Convert it into list.
thistuple = ("apple", "banana", "cherry")
print(thistuple)
y=list(thistuple)
y.append("Orange")
thistuple=tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'Orange')

In [33]:
#2.Add tuple to tuple.
a=("apple", "banana", "cherry")
b=("Orange",)
c=a+b
print(c)

('apple', 'banana', 'cherry', 'Orange')

#### Deleting items

In [13]:
#We can  delete complete tuple, but we can not delete items.
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

#### Workaround : Remove items.

In [36]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
('banana', 'cherry')

In [37]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [14]:
print(t5)
del t5[-1]

('Pratik', 21, [1, 5.0])

TypeError: 'tuple' object doesn't support item deletion

###  Important
https://www.w3schools.com/python/python_tuples_update.asp

#### OPERATION ON TUPLE

In [38]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

- LOOP TUPLE
https://www.w3schools.com/python/python_tuples_loop.asp

- JOIN TUPLE
https://www.w3schools.com/python/python_tuples_join.asp

#### TUPLE METHODS

In [40]:
# len/sum/min/max/sorted
t = (1,2,3,4)
print(len(t))

print(sum(t))

print(min(t))

print(max(t))

print(sorted(t))

print(sorted(t,reverse=True))

a=sorted(t)
print(tuple(a))

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]
(1, 2, 3, 4)

In [41]:
t = (1,2,3,4,5)

# count-	Returns the number of times a specified value occurs in a tuple
print(t.count(5))
print(t.count(50))

#index-	Searches the tuple for a specified value and returns the position of where it was found
print(t.index(5))
print(t.index(50)) # ValueError: tuple.index(x): x not in tuple

1
0
4

ValueError: tuple.index(x): x not in tuple

#### Unpack Tuples
https://www.w3schools.com/python/python_tuples_unpack.asp

In [42]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [43]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [44]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [45]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

#### Zipping Tables

In [46]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)
print(zip(a,b))
tuple(zip(a,b))

<zip object at 0x000001E9D056C040>

((1, 5), (2, 6), (3, 7), (4, 8))

#### Tuple Generator

In [47]:
tuple(i for i in (1,2,3))

(1, 2, 3)

####  Difference between Lists and Tuples
- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [67]:
import time 

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
      a=i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
      b= i*5
print('Tuple time',time.time()-start)

List time 25.887163400650024
Tuple time 32.23978567123413

In [51]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040