In [1]:
s={}
print(s,type(s))

{} <class 'dict'>

In [2]:
s=set(())
print(s,type(s))

set() <class 'set'>

In [3]:
s={1,2,3,4}
print(s,type(s))

{1, 2, 3, 4} <class 'set'>

In [36]:
s={True,(2,3,45,2),"hello",87}
print(s,type(s))

{True, 'hello', (2, 3, 45, 2), 87} <class 'set'>

In [5]:
s={4,5,6,{3,6,4}}
print(s,type(s))

TypeError: unhashable type: 'set'

In [33]:
s={3,4,5,[5,7,3]}
print(s,type(s))

TypeError: unhashable type: 'list'

In [7]:
s1={1,2,3}
s2={3,1,2}
s1==s2

True

In [11]:
s[2]={5}

TypeError: 'set' object does not support item assignment

In [13]:
for i in s:
    print(i,end=" ")

True hello (2, 3, 45, 2) 87

In [14]:
s={2,3,4}

In [15]:
s.add(6)
print(s)

{2, 3, 4, 6}

In [20]:
s.add("Hello")
print(s)

{2, 3, 4, 6, 9, 'Hello', (9, 7, 8)}

In [21]:
s.update([1,2,3])
print(s)

{1, 2, 3, 4, 6, 9, 'Hello', (9, 7, 8)}

In [25]:
a=[True,"Pratik",type,78]
b=(9,8,7)
c={23,(45,64),"singh"}

In [26]:
s.update(a)
s.update(b)
s.update(c)

In [27]:
print(s)

{1, 2, 3, 4, <class 'type'>, 6, 'Pratik', 8, 9, 7, 'singh', 78, (45, 64), 'Hello', 23, (9, 7, 8)}

In [29]:
print(s)

{1, 2, 3, 4, <class 'type'>, 6, 'Pratik', 8, 9, 7, 'singh', 78, (45, 64), 'Hello', 23, (9, 7, 8)}

In [31]:
del s

In [32]:
s

NameError: name 's' is not defined

In [34]:
s

NameError: name 's' is not defined

In [35]:
s

NameError: name 's' is not defined

In [37]:
s

{(2, 3, 45, 2), 87, True, 'hello'}

In [38]:
s.discard(87)
print(s)

{True, 'hello', (2, 3, 45, 2)}

In [39]:
s.discard(2)
print(s)

{True, 'hello', (2, 3, 45, 2)}

In [40]:
s.remove("hello")
print(s)

{True, (2, 3, 45, 2)}

In [41]:
s.remove("fdd")
print(s)

KeyError: 'fdd'

In [42]:
s={45,76,24,75,135}

In [46]:
s.pop()

45

In [47]:
s.clear()

In [48]:
s

set()

In [49]:
lst = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
temp = [num for sublist in lst for num in sublist]
print(temp)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
s={1,2,3,4,5}
t={9,8,7,6,5}
print(s)
print(t)

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9}

In [54]:
print(s|t)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
print(s&t)

{5}

In [56]:
print(s-t)

{1, 2, 3, 4}

In [57]:
print(t-s)

{8, 9, 6, 7}

In [58]:
print(s^t)

{1, 2, 3, 4, 6, 7, 8, 9}

In [59]:
2 in s

True

In [60]:
2 in t

False

In [61]:
for i in s:
    print(i,end=" ")

1 2 3 4 5

In [63]:
s

{1, 2, 3, 4, 5}

In [64]:
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))
print(sorted(s,reverse=True))

5
15
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [65]:
s=set(sorted(s))

In [66]:
s

{1, 2, 3, 4, 5}

In [68]:
s1=s.copy()
print(s,id(s))
print(s1,id(s1))

{1, 2, 3, 4, 5} 2949086209184
{1, 2, 3, 4, 5} 2949086208064

In [73]:
s1 = {1,2,3,4,5,6,7,8,9}
s2 = {7,8,5,6}

In [74]:
s1.isdisjoint(s2)

False

In [75]:
s1.issubset(s2)

False

In [76]:
s1.issuperset(s2)

True

In [77]:
s2.issubset(s1)

True

In [78]:
s1.issuperset(s2)

True

In [91]:
s1={1,2,3,4,5}
s2={5,6,7,8,9}

In [80]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [81]:
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9}

In [82]:
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}

In [88]:
s1.difference(s2)

{1, 2, 3, 4}

In [89]:
s2.difference(s1)

{6, 7, 8, 9}

In [90]:
print(s1.difference_update(s2))
print(s1)
print(s2)

{1, 2, 3, 4}
{5, 6, 7, 8, 9}

In [93]:
print(s1.symmetric_difference(s2))
print(s1)
print(s2)

{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9}

In [94]:
print(s2.symmetric_difference_update(s1))
print(s1)
print(s2)

None
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 6, 7, 8, 9}

In [95]:
(i**2 for i in s1 if i<4)

In [97]:
list((i**2 for i in s1 if i<4))

[1, 4, 9]

In [98]:
tuple((i**2 for i in s1 if i<4))

(1, 4, 9)

In [99]:
set((i**2 for i in s1 if i<4))

{1, 4, 9}

In [100]:
dict((i**2 for i in s1 if i<4))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [117]:
s={1,2,3,4,5}

In [102]:
s

{1, 2, 3, 4, 5}

In [109]:
s.add((1,2,3,4))

In [110]:
s

{(1, 2, 3, 4), 1, 2, 3, 4, 5, 6, 'Hello'}

In [113]:
s.update("Hello")

In [114]:
s

{(1, 2, 3, 4), 1, 2, 3, 4, 5, 6, 7, 8, 9, 'H', 'Hello', 'e', 'l', 'o'}

In [115]:
del s

In [116]:
s

NameError: name 's' is not defined

In [118]:
s

{1, 2, 3, 4, 5}

In [119]:
s.discard(5)

In [120]:
s

{1, 2, 3, 4}

In [121]:
s.discard(78)

In [122]:
ss

NameError: name 'ss' is not defined

In [123]:
s

{1, 2, 3, 4}

In [124]:
s={1,2,3,4,5}
t={4,5,6,7,8}

In [125]:
s|t

{1, 2, 3, 4, 5, 6, 7, 8}

In [126]:
s&t

{4, 5}

In [127]:
s-t

{1, 2, 3}

In [128]:
t-s

{6, 7, 8}

In [129]:
s^t

{1, 2, 3, 6, 7, 8}

In [130]:
2 in s

True

In [131]:
2 in t

False

In [132]:
for i in s:
    print(i,end=" ")

1 2 3 4 5

In [133]:
s

{1, 2, 3, 4, 5}

In [134]:
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))
print(sorted(s,reverse=True))

5
15
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [135]:
s=set(sorted(s))
print(s)

{1, 2, 3, 4, 5}

In [138]:
s={1,2,3,4,5,6,7,8,9}
t={6,7,8,9}

In [139]:
s.isdisjoint(t)

False

In [140]:
s.issuperset(t)

True

In [141]:
s.issubset(t)

False

In [162]:
s={1,2,3,4,5,6}
t={5,6,7,8,9}

In [143]:
s.union(t)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [146]:
s.update(t)

In [152]:
s.intersection(t)

{5, 6}

In [153]:
s.intersection_update(t)
print(s)
print(t)

{5, 6}
{5, 6, 7, 8, 9}

In [155]:
s.difference(t)

{1, 2, 3, 4}

In [156]:
print(s)
print(t)

{1, 2, 3, 4, 5, 6}
{5, 6, 7, 8, 9}

In [157]:
s.difference_update(t)

In [158]:
print(s)
print(t)

{1, 2, 3, 4}
{5, 6, 7, 8, 9}

In [160]:
s.symmetric_difference(t)

{1, 2, 3, 4, 7, 8, 9}

In [161]:
print(s)
print(t)

{1, 2, 3, 4, 5, 6}
{5, 6, 7, 8, 9}

In [163]:
t.symmetric_difference_update(s)

In [164]:
print(s)
print(t)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 7, 8, 9}

In [165]:
s

{1, 2, 3, 4, 5, 6}

In [167]:
s1=s.copy()
print(s1)

{1, 2, 3, 4, 5, 6}

In [168]:
(i**2 for i in s if i<3)

In [169]:
print(list((i**2 for i in s if i<3)))
print(tuple((i**2 for i in s if i<3)))
print(set((i**2 for i in s if i<3)))

[1, 4]
(1, 4)
{1, 4}

In [1]:
#creating a dictonary using sequence and dictonary function

In [3]:
d=dict([('name','pratik'),('age',23),('gender','male')])

In [4]:
d

{'name': 'pratik', 'age': 23, 'gender': 'male'}

In [5]:
d={'name':'pratik','name':'golu'}

In [6]:
d

{'name': 'golu'}

In [7]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [8]:
car['year']

1964

In [9]:
car.get('model')

'Mustang'

In [10]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [11]:
car.keys()

dict_keys(['brand', 'model', 'year'])

In [12]:
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [13]:
d={
    'name':'pratik',
    'age' : 23,
    'gender' : 'male',
    'subject' : {
        'math':98,
        'hindi' : 90,
        'ssc' : 98
    }
}

print(d)

{'name': 'pratik', 'age': 23, 'gender': 'male', 'subject': {'math': 98, 'hindi': 90, 'ssc': 98}}

In [15]:
d['name']='golu'
print(d)

{'name': 'golu', 'age': 23, 'gender': 'male', 'subject': {'math': 98, 'hindi': 90, 'ssc': 98}}

In [16]:
d['subject']['math']=90
print(d)

{'name': 'golu', 'age': 23, 'gender': 'male', 'subject': {'math': 90, 'hindi': 90, 'ssc': 98}}

In [17]:
d.update({'name':'pratik'})
print(d)

{'name': 'pratik', 'age': 23, 'gender': 'male', 'subject': {'math': 90, 'hindi': 90, 'ssc': 98}}

In [18]:
d.update({'subject':{'math':98}})

In [19]:
print(d)

{'name': 'pratik', 'age': 23, 'gender': 'male', 'subject': {'math': 98}}

In [20]:
d={
    'name':'pratik',
    'age' : 23,
    'gender' : 'male',
    'subject' : {
        'math':98,
        'hindi' : 90,
        'ssc' : 98
    }
}

print(d)

{'name': 'pratik', 'age': 23, 'gender': 'male', 'subject': {'math': 98, 'hindi': 90, 'ssc': 98}}

In [21]:
d['address ']='Mumbai'
print(d)

{'name': 'pratik', 'age': 23, 'gender': 'male', 'subject': {'math': 98, 'hindi': 90, 'ssc': 98}, 'address ': 'Mumbai'}

In [22]:
d['subject']['Marathi']=90
print(d)

{'name': 'pratik', 'age': 23, 'gender': 'male', 'subject': {'math': 98, 'hindi': 90, 'ssc': 98, 'Marathi': 90}, 'address ': 'Mumbai'}

In [23]:
d.update({'nickname':'golu'})
print(d)

{'name': 'pratik', 'age': 23, 'gender': 'male', 'subject': {'math': 98, 'hindi': 90, 'ssc': 98, 'Marathi': 90}, 'address ': 'Mumbai', 'nickname': 'golu'}

In [26]:
d.update({'subject':{'math': 98, 'hindi': 90, 'ssc': 98, 'Marathi': 90,'science':75}})
print(d)

{'name': 'pratik', 'age': 23, 'gender': 'male', 'subject': {'math': 98, 'hindi': 90, 'ssc': 98, 'Marathi': 90, 'science': 75}, 'address ': 'Mumbai', 'nickname': 'golu'}

In [27]:
my={'name':'pratik','age':23,'id':21,'gender':'male','weight':72}
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [28]:
del my
print(my)

NameError: name 'my' is not defined

In [29]:
my={'name':'pratik','age':23,'id':21,'gender':'male','weight':72}
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [30]:
del my['age']
print(my)

{'name': 'pratik', 'id': 21, 'gender': 'male', 'weight': 72}

In [31]:
my={'name':'pratik','age':23,'id':21,'gender':'male','weight':72}
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [32]:
my.pop('gender')
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'weight': 72}

In [33]:
my={'name':'pratik','age':23,'id':21,'gender':'male','weight':72}
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [35]:
my.popitem()
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male'}

In [36]:
my={'name':'pratik','age':23,'id':21,'gender':'male','weight':72}
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [37]:
my.clear()

In [38]:
my

{}

In [39]:
my={'name':'pratik','age':23,'id':21,'gender':'male','weight':72}
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [40]:
print('name' in my)

True

In [41]:
print('name' not in my)

False

In [42]:
print('pratik' in my)

False

In [43]:
my={'name':'pratik','age':23,'id':21,'gender':'male','weight':72}
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [44]:
for i in my:
    print(i,end=" ")

name age id gender weight

In [45]:
for i in my:
    print(my[i])

pratik
23
21
male
72

In [46]:
for i in my.items():
    print(i)

('name', 'pratik')
('age', 23)
('id', 21)
('gender', 'male')
('weight', 72)

In [47]:
for i in my.keys():
    print(i)

name
age
id
gender
weight

In [48]:
for i in my.values():
    print(i)

pratik
23
21
male
72

In [49]:
my={'name':'pratik','age':23,'id':21,'gender':'male','weight':72}
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [50]:
print(len(my))
print(min(my))
print(max(my))
print(sorted(my))
print(sorted(my,reverse=True))

5
age
weight
['age', 'gender', 'id', 'name', 'weight']
['weight', 'name', 'id', 'gender', 'age']

In [51]:
#creating a dictonary using a sequence and s=dictonary function.
d=dict([(1,1),(3,4),(8,4)])

In [52]:
d

{1: 1, 3: 4, 8: 4}

In [53]:
print(sum(d))

12

In [54]:
d1=d.copy()
print(d,id(d))
print(d1,id(d1))

{1: 1, 3: 4, 8: 4} 2446768212608
{1: 1, 3: 4, 8: 4} 2446768210944

In [55]:
#dict.fromkeys() return a dictonary with specified keys and value.

In [56]:
x=('pratik','sumit','shivam')
y=(90,93,91)
z=dict.fromkeys(x,y)

In [57]:
print(z)

{'pratik': (90, 93, 91), 'sumit': (90, 93, 91), 'shivam': (90, 93, 91)}

In [58]:
x=('pratik','sumit','shivam')
y=90,94,91
z=dict.fromkeys(x,y)

In [59]:
z

{'pratik': (90, 94, 91), 'sumit': (90, 94, 91), 'shivam': (90, 94, 91)}

In [60]:
x=('pratik','sumit','shivam')
y=0
z=dict.fromkeys(x,y)

In [61]:
z

{'pratik': 0, 'sumit': 0, 'shivam': 0}

In [62]:
x=('pratik','sumit','shivam')
z=dict.fromkeys(x,y)
print(z)

{'pratik': 0, 'sumit': 0, 'shivam': 0}

In [63]:
x=('pratik','sumit','shivam')
z=dict.fromkeys(x)
print(z)

{'pratik': None, 'sumit': None, 'shivam': None}

In [64]:
#dictonary comprehension

In [65]:
d={key:value for var in  iterable if condition == True}

NameError: name 'iterable' is not defined

In [66]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [67]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [69]:
{key:value*0.6 for (key,value) in distances.items()}

{'delhi': 600.0, 'mumbai': 1200.0, 'bangalore': 1800.0}

In [70]:
{key:value*0.6 for (key,value) in distances.items()}

{'delhi': 600.0, 'mumbai': 1200.0, 'bangalore': 1800.0}

In [71]:
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

In [73]:
{key:value for (key,value) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [77]:
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value >0}

{'phone': 10, 'charger': 32}

In [79]:
product = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in product.items() if value>0}

{'phone': 10, 'charger': 32}

In [80]:
{i:{j:j*i for j in range(1,11)} for i in range(2,6)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40},
 5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}}

In [83]:
my_family={
    
    'child1':{
        'name':'pratik',
        'age' : 21
    },
    
    'child2':{
        'name':'golu',
        'age':22
    },
    
    'child3':{
        'name':'shivam',
        'age':24
    }
}

In [84]:
my_family

{'child1': {'name': 'pratik', 'age': 21},
 'child2': {'name': 'golu', 'age': 22},
 'child3': {'name': 'shivam', 'age': 24}}

In [85]:
my_family={
    
    'child1':{
        'name':'pratik',
        'age':21
    },
    
    'child2':{
        'name':'golu',
        'age' : 23
    },
    
    'child3':{
        'name':'shivam',
        'age':24
    }
}
my_family

{'child1': {'name': 'pratik', 'age': 21},
 'child2': {'name': 'golu', 'age': 23},
 'child3': {'name': 'shivam', 'age': 24}}

In [86]:
child1={
    'name':'pratik',
    'age':21
}

child2={
    'name':'sumit',
    'age':23
}

child3={
    'name':'shivam',
    'age':25
}

my_family={
    'child1':child1,
    'child2':child2,
    'child3':child3
}

In [87]:
my_family

{'child1': {'name': 'pratik', 'age': 21},
 'child2': {'name': 'sumit', 'age': 23},
 'child3': {'name': 'shivam', 'age': 25}}

In [88]:
my_family['child3']['age']

25

In [89]:
#creating a dictonary using a sequence and dictonary function
d=dict([('name','pratik'),('age',23)])

In [90]:
d

{'name': 'pratik', 'age': 23}

In [91]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [92]:
car['brand']

'Ford'

In [93]:
car.get('brand')

'Ford'

In [94]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [95]:
car.keys()

dict_keys(['brand', 'model', 'year'])

In [96]:
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [97]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [98]:
car['year']=1963
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1963}

In [99]:
car.update({'year':1964})
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [100]:
car['color']='red'
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [101]:
car.update({'country':'Italy'})
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'color': 'red',
 'country': 'Italy'}

In [102]:
car.pop('country')

'Italy'

In [103]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [104]:
car.popitem()

('color', 'red')

In [105]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [106]:
car.clear()

In [107]:
car

{}

In [110]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [109]:
del car
car

NameError: name 'car' is not defined

In [112]:
del car['brand']

In [113]:
car

{'model': 'Mustang', 'year': 1964}

In [114]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [116]:
'brand' not in car

False

In [118]:
'colot' not  in car

True

In [119]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [120]:
for i in car:
    print(i,end=" ")

brand model year

In [121]:
for i in car:
    print(car[i])

Ford
Mustang
1964

In [122]:
for i in car.items():
    print(i)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [123]:
for i in car.keys():
    print(i)

brand
model
year

In [124]:
for i in car.values():
    print(i)

Ford
Mustang
1964

In [125]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [130]:
x='key1','key2','key3'

z=dict.fromkeys(x,)
z

{'key1': None, 'key2': None, 'key3': None}

In [131]:
my_family={
    
    'child1':{
        'name':'pratik',
        'age':21
    },
    'child2':{
        'name':'sumit',
        'age':21
    }
    
}
my_family

{'child1': {'name': 'pratik', 'age': 21},
 'child2': {'name': 'sumit', 'age': 21}}

In [133]:
child1={
    'name':'pratik',
    'age':21
}

child2={
    'name':'shivam',
    'age':24
}

child3={
    'name':'ashu',
    'age':29
}

my_family={
    
    'child1':child1,
    'child2':child2,
    'child3':child3
}

In [134]:
my_family

{'child1': {'name': 'pratik', 'age': 21},
 'child2': {'name': 'shivam', 'age': 24},
 'child3': {'name': 'ashu', 'age': 29}}

In [135]:
my_family['child3']['name']

'ashu'

In [136]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [137]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [139]:
{key:value*0.6 for (key,value) in distances.items()}

{'delhi': 600.0, 'mumbai': 1200.0, 'bangalore': 1800.0}

In [140]:
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{key:value for (key,value) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

In [1]:
d={}
print(d,type(d))

{} <class 'dict'>

In [2]:
d={"name":'pratik','age':23,'gender':'male'}
print(d,type(d))

{'name': 'pratik', 'age': 23, 'gender': 'male'} <class 'dict'>

In [3]:
d={
    'name':'pratik',
    'age':23,
    'gender':'male',
    'subject':{
    
        'math':90,
        'himdi':98
    }
}


print(d,type(d))

{'name': 'pratik', 'age': 23, 'gender': 'male', 'subject': {'math': 90, 'himdi': 98}} <class 'dict'>

In [4]:
#homogenous
d={"name":'pratik','age':23,'gender':'male'}
print(d,type(d))

{'name': 'pratik', 'age': 23, 'gender': 'male'} <class 'dict'>

In [5]:
#mixed or hetrogenous
d={'hello':'world',(1,2,3):1}
print(d,type(d))

{'hello': 'world', (1, 2, 3): 1} <class 'dict'>

In [6]:
#creating a dictonary using a sequence and dictonary function.
d=dict([('name','pratik'),('age',21)])
print(d,type(d))

{'name': 'pratik', 'age': 21} <class 'dict'>

In [7]:
d={'name':'pratik','name':'golu','age':21}

In [8]:
print(d)

{'name': 'golu', 'age': 21}

In [9]:
# [],get,items,keys,values

In [11]:
d={
    'name':'pratik',
    'age':23,
    'gender':'male',
    'subject':{
    
        'math':90,
        'himdi':98
    }
}

d

{'name': 'pratik',
 'age': 23,
 'gender': 'male',
 'subject': {'math': 90, 'himdi': 98}}

In [12]:
d['gender']

'male'

In [13]:
d['subject']['math']

90

In [14]:
d.get('name')

'pratik'

In [15]:
d.get('subject','math')

{'math': 90, 'himdi': 98}

In [16]:
d.items()

dict_items([('name', 'pratik'), ('age', 23), ('gender', 'male'), ('subject', {'math': 90, 'himdi': 98})])

In [17]:
d.keys()

dict_keys(['name', 'age', 'gender', 'subject'])

In [18]:
d.values()

dict_values(['pratik', 23, 'male', {'math': 90, 'himdi': 98}])

In [19]:
d

{'name': 'pratik',
 'age': 23,
 'gender': 'male',
 'subject': {'math': 90, 'himdi': 98}}

In [20]:
d['name']='golu'
d

{'name': 'golu',
 'age': 23,
 'gender': 'male',
 'subject': {'math': 90, 'himdi': 98}}

In [21]:
d.update({'name':'pratik'})
d

{'name': 'pratik',
 'age': 23,
 'gender': 'male',
 'subject': {'math': 90, 'himdi': 98}}

In [22]:
d['subject']['math']=98
d

{'name': 'pratik',
 'age': 23,
 'gender': 'male',
 'subject': {'math': 98, 'himdi': 98}}

In [23]:
d.update({'subject':{'math:90'}})
d

{'name': 'pratik', 'age': 23, 'gender': 'male', 'subject': {'math:90'}}

In [24]:
d.update({'subject':{'math':98,'hindi':90}})
d

{'name': 'pratik',
 'age': 23,
 'gender': 'male',
 'subject': {'math': 98, 'hindi': 90}}

In [25]:
d['subject']['sst']=94
d

{'name': 'pratik',
 'age': 23,
 'gender': 'male',
 'subject': {'math': 98, 'hindi': 90, 'sst': 94}}

In [26]:
d.update({'subject':{'math': 98, 'hindi': 90, 'sst': 94,'marathi':90}})
d

{'name': 'pratik',
 'age': 23,
 'gender': 'male',
 'subject': {'math': 98, 'hindi': 90, 'sst': 94, 'marathi': 90}}

In [35]:
my={'name':'pratik','age':23,'id':21,'gender':'male','weight':72}
print(my)

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [30]:
del my['id']
my

{'name': 'pratik', 'age': 23, 'gender': 'male', 'weight': 72}

In [32]:
my.pop('id')
my

{'name': 'pratik', 'age': 23, 'gender': 'male', 'weight': 72}

In [33]:
my.popitem()
my

{'name': 'pratik', 'age': 23, 'gender': 'male'}

In [34]:
my.clear()
my

{}

In [36]:
my

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [40]:
'namee'  in my

False

In [41]:
d

{'name': 'pratik',
 'age': 23,
 'gender': 'male',
 'subject': {'math': 98, 'hindi': 90, 'sst': 94, 'marathi': 90}}

In [42]:
for i in d:
    print(i)

name
age
gender
subject

In [43]:
for i in d:
    print(d[i])

pratik
23
male
{'math': 98, 'hindi': 90, 'sst': 94, 'marathi': 90}

In [44]:
for i in d.items():
    print(i)

('name', 'pratik')
('age', 23)
('gender', 'male')
('subject', {'math': 98, 'hindi': 90, 'sst': 94, 'marathi': 90})

In [45]:
for i in d.keys():
    print(i)

name
age
gender
subject

In [46]:
for i in d.values():
    print(i)

pratik
23
male
{'math': 98, 'hindi': 90, 'sst': 94, 'marathi': 90}

In [47]:
#len/sum/min/max/sorted/copy
#get/update/items/keys/values/
#dict.fromkeys

In [48]:
my

{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72}

In [49]:
print(len(my))
print(min(my))
print(max(my))
print(sorted(my))
print(sorted(my,reverse=True))
print(my,id(my))
m=my.copy()
print(m,id(m))

5
age
weight
['age', 'gender', 'id', 'name', 'weight']
['weight', 'name', 'id', 'gender', 'age']
{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72} 3019087662656
{'name': 'pratik', 'age': 23, 'id': 21, 'gender': 'male', 'weight': 72} 3019088255424

In [50]:
d=dict([(1,1),(2,5),(9,3),(6,4)])
print(sum(d))

18

In [51]:
my.get('name')

'pratik'

In [52]:
my.update({'nickname':'golu'})
my

{'name': 'pratik',
 'age': 23,
 'id': 21,
 'gender': 'male',
 'weight': 72,
 'nickname': 'golu'}

In [53]:
my.items()

dict_items([('name', 'pratik'), ('age', 23), ('id', 21), ('gender', 'male'), ('weight', 72), ('nickname', 'golu')])

In [54]:
my.keys()

dict_keys(['name', 'age', 'id', 'gender', 'weight', 'nickname'])

In [55]:
my.values()

dict_values(['pratik', 23, 21, 'male', 72, 'golu'])

In [60]:
x='name','age',3

z=dict.fromkeys(x)
z

{'name': None, 'age': None, 3: None}

In [64]:
my={
    'child1':{
        'name':'amrita',
        'age':27
    },
    
    'child2':{
        'name':'sarika',
        'age':25
    },
    
    'child3':{
        'name':'pratik',
        'age':23
    }
}

my

{'child1': {'name': 'amrita', 'age': 27},
 'child2': {'name': 'sarika', 'age': 25},
 'child3': {'name': 'pratik', 'age': 23}}

In [62]:
child1={
    'name':'a'
    
}

child2={
    'name':'s'
}

child3={
    'name':'p'
}

my={
    'child1':child1,
    'child2':child2,
    'child3':child3
}

In [63]:
my

{'child1': {'name': 'a'}, 'child2': {'name': 's'}, 'child3': {'name': 'p'}}

In [65]:
my['child2']['age']

25

In [ ]:
{key:value for var in iterable if condition == True}

In [66]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [67]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}

In [69]:
{key:value*1.6 for(key,value) in distances.items()}

{'delhi': 1600.0, 'mumbai': 3200.0, 'bangalore': 4800.0}

In [70]:
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

In [71]:
{key:value for (key,value) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [72]:
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

In [73]:
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [74]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [75]:
s={}
print(s,type(s))

{} <class 'dict'>

In [76]:
s=set(())
print(s,type(s))

set() <class 'set'>

In [77]:
s={1,2,3,4,5}
print(s,type(s))

{1, 2, 3, 4, 5} <class 'set'>

In [78]:
s={1,2,3,{2,3}}

TypeError: unhashable type: 'set'

In [79]:
#homogenous
s={1,2,3,4}
print(s,type(s))
#hetrogenous
s={"hello",2,(1,2)}
print(s,type(s))

{1, 2, 3, 4} <class 'set'>
{(1, 2), 2, 'hello'} <class 'set'>

In [80]:
s=set([1,2,3])
print(s,type(s))
s=set((1,2,3))
print(s,type(s))

{1, 2, 3} <class 'set'>
{1, 2, 3} <class 'set'>

In [81]:
s={1,2,3,5,6,7,1,2,3}
print(s,type(s))

{1, 2, 3, 5, 6, 7} <class 'set'>

In [82]:
s={1,2,3,[1,2,3]}
print(s,type(s))

TypeError: unhashable type: 'list'

In [83]:
s={1,2,3,"Hello",True,(1,2,3),98}
print(s,type(s))

{1, 2, 3, 98, (1, 2, 3), 'Hello'} <class 'set'>

In [84]:
s1={1,2,3}
s2={2,3,1}
print(s1==s2)

True

In [85]:
s

{(1, 2, 3), 1, 2, 3, 98, 'Hello'}

In [86]:
s[0]

TypeError: 'set' object is not subscriptable

In [87]:
s[-2]

TypeError: 'set' object is not subscriptable

In [88]:
s[2:]

TypeError: 'set' object is not subscriptable

In [89]:
for i in s:
    print(i)

1
2
3
98
(1, 2, 3)
Hello

In [92]:
s= {1,2,3,4}

In [93]:
s

{1, 2, 3, 4}

In [94]:
s.add(5)

In [95]:
s

{1, 2, 3, 4, 5}

In [98]:
s.add((1,2,3))

In [99]:
s

{(1, 2, 3), 1, 2, 3, 4, 5}

In [100]:
s.update((9,8,7))

In [102]:
s.update([6,67,56])
s

{(1, 2, 3), 1, 2, 3, 4, 5, 56, 6, 67, 7, 8, 9}

In [103]:
#The object in update method it's not mandatory to have have a set, it can be any data type like list, tuple, set

In [104]:
s

{(1, 2, 3), 1, 2, 3, 4, 5, 56, 6, 67, 7, 8, 9}

In [106]:
s.update({55,66,77})
s.update([11,22,33])
s.update((44,88,99))
s

{(1, 2, 3),
 1,
 11,
 2,
 22,
 3,
 33,
 4,
 44,
 5,
 55,
 56,
 6,
 66,
 67,
 7,
 77,
 8,
 88,
 9,
 99}

In [107]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 56, 66, 67, 77, 88, 99, (1, 2, 3)}

In [109]:
del s[0]

TypeError: 'set' object doesn't support item deletion

In [110]:
st={234,8765,2345}
del st
st

NameError: name 'st' is not defined

In [112]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 56, 66, 67, 77, 88, 99, (1, 2, 3)}

In [113]:
s.discard(6)
s

{(1, 2, 3), 1, 11, 2, 22, 3, 33, 4, 44, 5, 55, 56, 66, 67, 7, 77, 8, 88, 9, 99}

In [114]:
s.discard(999)
s

{(1, 2, 3), 1, 11, 2, 22, 3, 33, 4, 44, 5, 55, 56, 66, 67, 7, 77, 8, 88, 9, 99}

In [115]:
s.remove((1,2,3))
s

{1, 2, 3, 4, 5, 7, 8, 9, 11, 22, 33, 44, 55, 56, 66, 67, 77, 88, 99}

In [116]:
s.remove(999)
s

KeyError: 999

In [118]:
print(s)
print(s.pop())
print(s)

{2, 3, 4, 5, 7, 8, 9, 11, 22, 33, 44, 55, 56, 66, 67, 77, 88, 99}
2
{3, 4, 5, 7, 8, 9, 11, 22, 33, 44, 55, 56, 66, 67, 77, 88, 99}

In [119]:
s.clear()
s

set()

In [120]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [121]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [122]:
s1&s2

{4, 5}

In [123]:
s1-s2

{1, 2, 3}

In [124]:
s2-s1

{6, 7, 8}

In [125]:
s1^s2

{1, 2, 3, 6, 7, 8}

In [126]:
2 in s1

True

In [127]:
7 in s1

False

In [128]:
7 not in s1

True

In [130]:
for i in s2:
    print(i)

4
5
6
7
8

In [131]:
s1

{1, 2, 3, 4, 5}

In [132]:
print(len(s1))
print(sum(s1))
print(min(s1))
print(max(s1))
print(sorted(s1))
print(sorted(s1,reverse=True))

5
15
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [133]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [134]:
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [135]:
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [136]:
s1.intersection(s2)

{4, 5, 6, 7, 8}

In [142]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [138]:
s1.intersection(s2)

{4, 5}

In [140]:
s1.intersection_update(s2)

In [143]:
s1.difference(s2)

{1, 2, 3}

In [145]:
s1.difference_update(s2)

In [146]:
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [148]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [149]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [150]:
s1.symmetric_difference_update(s2)

In [151]:
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [152]:
s=s1.copy()
print(s,id(s))
print(s1,id(s1))

{1, 2, 3, 6, 7, 8} 3019088381088
{1, 2, 3, 6, 7, 8} 3019088382208

In [153]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [154]:
s1.isdisjoint(s2)

False

In [155]:
s1 = {1,2,3,4}
s2 = {7,8,5,6}

In [156]:
s1.isdisjoint(s2)

True

In [157]:
s1.symmetric_difference_update(s2)

In [158]:
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{8, 5, 6, 7}

In [159]:
s1.issubset(s2)

False

In [161]:
s2.issubset(s1)

True

In [162]:
s2.issuperset(s1)

False

In [163]:
s2.issuperset(s1)

False

In [166]:
(i**2 for i in range(1,11))

In [168]:
list((i**2 for i in range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [169]:
tuple((i**2 for i in range(1,11)))

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [170]:
set((i**2 for i in range(1,11)))

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [171]:
dict((i:i**2 for i in range(1,11)))

SyntaxError: invalid syntax (<ipython-input-171-7743af4618fb>, line 1)

In [172]:
{i**2 for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [173]:
#Frozenset is just a immutable version of set.

In [174]:
#all read function works.
#all write function does not work.
#2D frozenset

In [175]:
print(frozenset('123'))
print(frozenset([1,2,3]))
print(frozenset((1,2,3)))
print(frozenset({1,2,3}))

frozenset({'2', '3', '1'})
frozenset({1, 2, 3})
frozenset({1, 2, 3})
frozenset({1, 2, 3})

In [176]:
s=frozenset([1,2,3,4])
t=frozenset((4,5,6,7,8,9))

In [177]:
print(s)
print(t)

frozenset({1, 2, 3, 4})
frozenset({4, 5, 6, 7, 8, 9})

In [179]:
s[2]=1

TypeError: 'frozenset' object does not support item assignment

In [181]:
s.update(3)

AttributeError: 'frozenset' object has no attribute 'update'

In [182]:
s.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [183]:
del s

In [184]:
s

NameError: name 's' is not defined

In [205]:
s=frozenset([1,2,3,4])
t=frozenset((4,5,6,7,8,9))

In [193]:
 4 in s2

False

In [195]:
for i in s:
    print(i)

1
2
3
4

In [198]:
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))
print(sorted(s,reverse=True))
S=s.copy()
print(s,id(s))
print(S,id(S))

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]
frozenset({1, 2, 3, 4}) 3019088459584
frozenset({1, 2, 3, 4}) 3019088459584

In [199]:
s.union(t)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [200]:
s.update(t)

AttributeError: 'frozenset' object has no attribute 'update'

In [204]:
s.difference(t)

frozenset({1, 2, 3})

In [206]:
s.isdisjoint(t)

False

In [207]:
s.isnotdisjoint(t)

AttributeError: 'frozenset' object has no attribute 'isnotdisjoint'

In [208]:
s=frozenset([1,2,3,4,5,6,7,8,9])
t=frozenset((4,5,6,7,8,9))

In [211]:
s.issuperset(t)

True

In [221]:
l=[1,2.0,2+3j,True,print,"hello"]

In [222]:
l1=l.copy()
print(l,id(l))
print(l1,id(l1))

[1, 2.0, (2+3j), True, <built-in function print>, 'hello'] 3019088267392
[1, 2.0, (2+3j), True, <built-in function print>, 'hello'] 3019087311296

In [223]:
l=[1,2,3]
print(l,id(l))
print(l[0],id(l[0]))
print(id(1))

[1, 2, 3] 3019088425024
1 140724631185200
140724631185200

In [2]:
languages = ['java','python','php','c','javascript']

[lan for lan in languages if lan.startswith('p')]

['python', 'php']

In [3]:
thistuple = ("apple", "banana", "cherry")
m=list(thistuple)
m

['apple', 'banana', 'cherry']

In [5]:
del m[1]

In [6]:
m

['apple', 'cherry']

In [7]:
thistuple=tuple(m)

In [8]:
thistuple

('apple', 'cherry')

In [9]:
m1=m.copy()

In [10]:
print(m1,id(m1))
print(m,id(m))

['apple', 'cherry'] 2608711024512
['apple', 'cherry'] 2608711457088

In [11]:
#When we craete a tuple we assign value to it, it's known as packing a tuple.
a=(1,"Hello",(1,2,3))

In [12]:
#but, python also allow us to extract back data into the tuple it's known as unpacking the tuple.
x,y,z=a
print(x,y,z)

1 Hello (1, 2, 3)

In [13]:
a=(1,2,3,4,5,6,8,9)

In [14]:
x,y=a
print(x,y)

ValueError: too many values to unpack (expected 2)

In [15]:
x,y,*others=a

In [17]:
print(x)
print(y)
print(others)

1
2
[3, 4, 5, 6, 8, 9]

In [18]:
x,*other,y=a

In [19]:
print(x)
print(y)
print(others)

1
9
[3, 4, 5, 6, 8, 9]

In [20]:
[i**2 for i in range(1,5)]

[1, 4, 9, 16]

In [21]:
(i**2 for i in range(1,5))

In [22]:
{i**2 for i in range(1,5)}

{1, 4, 9, 16}

In [23]:
print(list(i**2 for i in range(1,5)))
print(tuple(i**2 for i in range(1,5)))
print(set(i**2 for i in range(1,5)))

[1, 4, 9, 16]
(1, 4, 9, 16)
{16, 1, 4, 9}

In [26]:
import time
l=list((range(1000000)))
t=tuple((range(1000000)))
start=time.time()

for i in range(1,5):
    x=l*i
    c=time.time()-start
print(c)
    
for i in range(1,5):
    y=t*i
    d=time.time()-start
print(d)

0.1648557186126709
0.3138725757598877

In [33]:
def power(a=1,b=1):
    return a**b

In [31]:
power(2,4) #positional argument

16

In [32]:
power(2)

TypeError: power() missing 1 required positional argument: 'b'

In [34]:
power(2)

2

In [35]:
power()

1

In [36]:
power(b=3,a=2)

8

In [ ]:
keyword>positional>default

In [47]:
def mul(*p):
    pd=1
    for i in p:
        pd=pd*i

    print(p)
    return pd

In [48]:
mul(3,4,5,6,7,8,9)

(3, 4, 5, 6, 7, 8, 9)

181440

In [53]:
def cap(**kwargs):
    for (key,value) in kwargs.items():
        print(key,"-----",value)
    print(kwargs)

In [54]:
cap(india="d",nepal='k',s='c')

india ----- d
nepal ----- k
s ----- c
{'india': 'd', 'nepal': 'k', 's': 'c'}

In [56]:
def is_even(num):
    """
    This is program is used to check number is even or ODD.
    Input=valid integers
    Output=even/odd
    """
    if type(num)==int:
        if num%2==0:
            return 'even'
        else:
            return 'odd'
    else:
        return 'enter valid integers'

In [57]:
for i in range(1,11):
    x=is_even(i)
    print(i,x)

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [58]:
print(is_even.__doc__)

    This is program is used to check number is even or ODD.
    Input=valid integers
    Output=even/odd

In [59]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [6]:
def mul(*p):
    pr=1
    for i in (p):
        pr=pr*i

    print(p)
    return pr

In [7]:
mul(3,4,5,6,6)

(3, 4, 5, 6, 6)

2160

In [8]:
def cap(**kwargs):
    for (key,value) in kwargs.items():
        print(key, "---------->",value)
    print(kwargs)

In [9]:
cap(i='d',s='c',n='k',b='d')

i ----------> d
s ----------> c
n ----------> k
b ----------> d
{'i': 'd', 's': 'c', 'n': 'k', 'b': 'd'}

In [2]:
import builtins
print(dir(builtins))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [3]:
def outerr():
    
    def inner():
        x="inner x"
        print(x)
    inner()
    print(x)
outerr()

inner x

NameError: name 'x' is not defined

In [5]:
def is_even(num):
    """
    This program calculate number is even or odd.
    Input: valid integer
    Output:even/odd
    created:22/04/2023
    
    """
    if type(num)==int:
        if num%2==0:
            return 'even'
        else:
            return 'odd'
    else:
        return 'enter valid integer'

In [8]:
for i in range(1,11):
    x=is_even(i)
    print(x,i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10

In [9]:
print(is_even.__doc__)

    This program calculate number is even or odd.
    Input: valid integer
    Output:even/odd
    created:22/04/2023

In [14]:
def power(a=1,b=1):
    return a**b

In [11]:
#positional
power(3,4)

81

In [15]:
power(1)

1

In [16]:
power()

1

In [17]:
power(b=2,a=7)

49

In [22]:
def mul(*args):
    prod=1
    for i in args:
        prod=prod*i
        print(args)       
        return prod

In [23]:
mul(6,9,4,2)

(6, 9, 4, 2)

6

In [24]:
def cap(**kwargs):
    for (key,value) in kwargs.items():
        print(key,"----->",value)
    print(kwargs)

In [26]:
cap(india='delhi',uk='london',china='beijing',japan='tokyo')

india -----> delhi
uk -----> london
china -----> beijing
japan -----> tokyo
{'india': 'delhi', 'uk': 'london', 'china': 'beijing', 'japan': 'tokyo'}

In [27]:
lambda x : x**2

In [29]:
a=lambda x : x**2
a(9)

81

In [31]:
a=lambda x,y:x+y
a(9,7)

16

In [33]:
a=lambda s: 'a' in s
a('aniloo')

True

In [36]:
a=lambda x: 'even' if x%2==0 else 'odd'
for i in range(1,5):
    print(a(i),i)

odd 1
even 2
odd 3
even 4

In [1]:
a=lambda x:x**2
a(4)

16

In [2]:
a= lambda x,y:x+y
a(7,8)

15

In [4]:
a=lambda x:'a' in x
a('nil')

False

In [7]:
a=lambda x : print('even') if x%2==0 else print('odd')
a(9)

odd

In [8]:
t=lambda x:(9/5)*x+32
t(100)

212.0

In [9]:
a=lambda x,y: x if x>y else y
a(9,56)

56

In [10]:
l=[1,3,5,8,11,12]

In [11]:
def square(x):
    return x**2

def transform(f,l):
    output=[]
    for i in l:
        output.append(f(i))
    print(output)
transform(square,l)

[1, 9, 25, 64, 121, 144]

In [14]:
def transform(f,l):
    output=[]
    for i in l:
        output.append(f(i))
    print(output)
transform(lambda x:x**x,l)

[1, 27, 3125, 16777216, 285311670611, 8916100448256]

In [16]:
set(map(square,l))

{1, 9, 25, 64, 121, 144}

In [17]:
list(map(lambda x:x**2,l))

[1, 9, 25, 64, 121, 144]

In [20]:
list(map(lambda x:'even' if x%2==0 else 'odd',l))

['odd', 'odd', 'odd', 'even', 'odd', 'even']

In [21]:
l

[1, 3, 5, 8, 11, 12]

In [22]:
users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

list(map(lambda x: x['name'],users))

['Rahul', 'Nitish', 'Ankita']

In [23]:
l1=[1,2,3,4]
l2=[5,6,7,8]
list(map(lambda x,y:x+y,l1,l2))

[6, 8, 10, 12]

In [24]:
# numbers greater than 5
L = [3,4,5,6,7]
list(filter(lambda x: x>5,L))

[6, 7]

In [25]:
# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']
tuple(filter(lambda x: x.startswith('a'),fruits))

('apple',)

In [1]:
a=lambda x: x**2
a(9)

81

In [2]:
a=lambda x,y:x+y
a(9,78)

87

In [5]:
a=lambda x:'a' in x
a('nil')

False

In [8]:
a=lambda x : print('even') if x%2==0 else print('odd')
for i in range(1,8):
    print(a(i),i)

odd
None 1
even
None 2
odd
None 3
even
None 4
odd
None 5
even
None 6
odd
None 7

In [9]:
t=lambda c:(9/5)*c+32
t(100)

212.0

In [10]:
a=lambda x,y: x if x>y else y
a(9,6)

9

In [11]:
l=[1,2,3,4,5,7,9,11,14]

In [12]:
def square(x):
    return x**2

In [16]:
def cube(x):
    return x**3

In [14]:
def transform(f,l):
    output=[]
    for i in l:
        output.append(f(i))
    print(output)

In [15]:
transform(square,l)

[1, 4, 9, 16, 25, 49, 81, 121, 196]

In [17]:
transform(cube,l)

[1, 8, 27, 64, 125, 343, 729, 1331, 2744]

In [18]:
def transform(f,l):
    output=[]
    for i in l:
        output.append(f(i))
    return output

In [19]:
transform(lambda x:x**3,l)

[1, 8, 27, 64, 125, 343, 729, 1331, 2744]

In [20]:
l=[1,2,4,5,7,39]

In [21]:
list(map(square,l))

[1, 4, 16, 25, 49, 1521]

In [22]:
list(map(lambda x : x**2,l))

[1, 4, 16, 25, 49, 1521]

In [25]:
print(l)
list(map(lambda x: print('even',end=" ") if x%2==0 else print('odd',end=" "),l))

[1, 2, 4, 5, 7, 39]
odd even even odd odd odd

[None, None, None, None, None, None]

In [26]:
users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

In [28]:
list(map(lambda x : x['name'],users))

['Rahul', 'Nitish', 'Ankita']

In [29]:
l1=[1,2,3,4]
l2=[5,6,7,8]

set(map(lambda x1,x2:x1+x2,l1,l2))

{6, 8, 10, 12}

In [30]:
# numbers greater than 5
L = [3,4,5,6,7]
list(map(lambda x:x>5,L))

[False, False, False, True, True]

In [31]:
list(filter(lambda x:x>5,L))

[6, 7]

In [32]:
# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']

In [34]:
list(map(lambda x:x.startswith('a'),fruits))

[True, False, False]

In [35]:
list(filter(lambda x: x.startswith('a'),fruits))

['apple']

In [36]:
from functools import reduce

In [43]:
l.append(-400)

In [38]:
reduce(lambda x,y:x+y,l)

58

In [39]:
reduce(lambda x,y,x:x+Y+z,l)

SyntaxError: duplicate argument 'x' in function definition (<ipython-input-39-485f8156bd24>, line 1)

In [41]:
reduce(lambda x,y:x+y,[1])

1

In [44]:
reduce(lambda x,y: x if x<y else y,l)

-400

In [45]:
def is_even(num):
    if num%2==0:
        print("Even")
    else:
        print("Odd")

In [46]:
is_even(89)

Odd

In [47]:
print(is_even(89))

Odd
None

In [48]:
def is_even(num):
    if num%2==0:
        return "Even"
    else:
        return "Odd"

In [49]:
is_even(89)

'Odd'

In [50]:
print(is_even(89))

Odd

In [51]:
l

[1, 2, 4, 5, 7, 39, -400]

In [53]:
print(l.append(9))

None

In [54]:
def outerr():
    
    def inner():
        x="inner x"
        print(x)
    inner()
    print(x)
outerr()

inner x

NameError: name 'x' is not defined

In [55]:
def h(y):
    x += 1
x = 5
h(x)
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [56]:
def h(y):
    x = x+1
x = 5
h(x)
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [57]:
#doubt
def f(x):
   x = x + 1
   print('in f(x): x =', x)
   return x

x = 3
z = f(x)
print('in main program scope: z =', z)
print('in main program scope: x =', x)

in f(x): x = 4
in main program scope: z = 4
in main program scope: x = 3

In [3]:
import random
print(random.random())
print(random.randint(3,30))
print(random.randrange(3,30,3))
print(random.sample(list(range(3,30,3)),5))

0.9362116010827839
3
27
[27, 21, 15, 9, 6]

In [4]:
x=2.4
print(isinstance(x,float))

True